.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.active {
  font: 500 1.1rem Arial;
  cursor: pointer;
  color:#ff21cb;
  transition: 1s
}

.inactive {
  font: 1rem Arial;
  transition: 1s;
}

li {
  text-align: left;
}

.flex-container {
  display:flex;
  flex-flow: column wrap;
  padding-left: 20px;
}

.link {
  color:#ff21cb;
}